:root {
  /* Colors */

  /* Primary */

  --Bright-orange: #e38826;
  --Dark-cyan: #006970;
  --Very-dark-cyan: #004241;

  /* Neutral */

  --Transparent-white-paragraphs: #ffffffbf;
  --Very-light-gray-background-headings-buttons: #f2f2f2;

  /* Fonts */
  --Big-Shoulders-Display: "Big Shoulders Display";
  --Lexend-Deca: "Lexend Deca", sans-serif;

  /*Block flow*/
  --block-flow-sm: min(2rem, 4vh);
  --block-flow-md: min(4rem, 8vh);
  --block-flow-lg: min(8rem, 16vh);
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*********************************************************************************/

body {
  font-size: 25px;
  background: var(--Very-light-gray-background-headings-buttons);
}

.container {
  margin: 5rem 1.5rem;
  --min: 20ch;

  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 19rem));
  grid-template-rows: minmax(27.3rem, min(60vw, 31.2rem));
}

button {
  width: 9rem;
  border-radius: 1.5rem;
  border: 0;
  height: 3rem;
  font-family: var(--Lexend-Deca);
  cursor: pointer;
  font-size: 0.9rem;
  background-color: var(--Very-light-gray-background-headings-buttons);
  margin-block-start: min(5.2rem, 7vw, 7rem);
}

.sedans > button {
  color: var(--Bright-orange);
}

.suvs > button {
  color: var(--Dark-cyan);
}

.luxury > button {
  color: var(--Very-dark-cyan);
}

button:hover {
  color: #fff;
  border-radius: 1.5rem;
  background-color: transparent;
  border: 2px solid;
}

section {
  padding: 3rem clamp(1.2rem, 90%, 3rem);
}

h2 {
  font-family: var(--Big-Shoulders-Display);
  color: #f2f2f2;
  margin-block-start: 2rem;
}

p {
  font-family: var(--Lexend-Deca);
  font-size: 0.9rem;
  width: 13rem;
  color: #ffffffbf;
  opacity: 0.8;
  margin-block-start: 2rem;
}

.sedans {
  background-color: var(--Bright-orange);
}

.suvs {
  background-color: var(--Dark-cyan);
}

.luxury {
  background-color: var(--Very-dark-cyan);
}
